@page
@model ConfirmEmailModel

<h1 class="text-center">Hello @User.Identity.Name!</h1>
<h1 class="text-center">
    <a asp-area="" asp-controller="Book" asp-action="Index">Thanks for confirm email! Click here to Homepage</a>
</h1>
